.btn{
    color:#ffffff;
    background-color: #000000;
    width:160px;
    height:36px;
    padding:9px auto;
    font-size: 0.875rem;
    letter-spacing: 0.15;
    font-weight: bold;
    display: block;
    border: none;
    cursor: pointer;
}
